/* menu and screen icons */
#adminmenu .toplevel_page_footballpool-options .wp-menu-image
{
	background: url(images/admin-menu-16.png) 0 -33px no-repeat
}

#adminmenu .toplevel_page_footballpool-options:hover div.wp-menu-image,
#adminmenu .toplevel_page_footballpool-options.wp-has-current-submenu div.wp-menu-image,
#adminmenu .toplevel_page_footballpool-options.current div.wp-menu-image
{
	background-repeat: no-repeat; background-attachment: scroll; background-position: 0 0;
}

#icon-footballpool-options.icon32
{
/*	background: url(images/admin-menu-32.png) 0 -33px no-repeat; */
	background: url(images/admin-menu-32.png) 0 0 no-repeat;
}

th.manage-column { vertical-align: top; }

/* bonus questions */
th.manage-column.column-question { width: 340px; }
th.manage-column.column-answer { width: 180px; }
th.manage-column.column-points { width: 50px; }

/* matches */
.matchinfo { width: 400px; }
input.score { width: 2em; }

table.help th { text-align: left; text-decoration: underline; }
table.help th, table.help td { padding-right: 1em; }

table.user-list tr:hover, 
table.user-answers tr:hover { 
	background-color: #F1F1F1; 
}

label.radio { font-weight: normal; }

img.screenshot { 
	box-shadow: 5px 5px 5px #888;
	margin: 10px 0 0 20px;
	border: 1px solid #dfdfdf;
}

input.date-y { width: 4em; }
input.date-m { width: 2.5em; }
input.date-d { width: 2.5em; }
input.date-h { width: 2.5em; }
input.date-i { width: 2.5em; }

.placeholder, .hint { font-style: italic; color: #ccc; }

.email-addresses textarea { width: 500px; height: 50px; }
.email-addresses.players textarea { border: 1px solid green; }
.email-addresses.not-players textarea { border: 1px solid red; }
.email-addresses { margin-bottom: 20px; }
.email-addresses label { margin-right: 20px; }

table.form-table td:nth-child(2) { width: 310px; }

div.donate { text-align: right; }
div.donate form { margin-left: 2em; }

/* fix the link-button height */
a.button-secondary.fp-link-button { padding-top: 4px; padding-bottom: 5px; }

table.fp-radio-list { border-collapse: collapse; }
.fp-radio-list label { display: block; padding-right: 5em; }
.fp-radio-list td { padding: 5px 4px; vertical-align: top; }
.fp-radio-list tr:hover { background-color: #eaf2fa; }
.fp-radio-list input[type=radio] { margin-right: 1.5em; }
.fp-radio-list td.file {  }
.fp-radio-list th { text-align: left; font-weight: normal; font-style: italic; }

div.import.culture-select { text-align: right; }