/* menu and screen icons */
#adminmenu .toplevel_page_footballpool-options .wp-menu-image {
	background: url(images/admin-menu-16.png) 0 -33px no-repeat
}

#adminmenu .toplevel_page_footballpool-options:hover div.wp-menu-image,
#adminmenu .toplevel_page_footballpool-options.wp-has-current-submenu div.wp-menu-image,
#adminmenu .toplevel_page_footballpool-options.current div.wp-menu-image {
	background-repeat: no-repeat; background-attachment: scroll; background-position: 0 0;
}

#icon-footballpool-options.icon32 {
/*	background: url(images/admin-menu-32.png) 0 -33px no-repeat; */
	background: url(images/admin-menu-32.png) 0 0 no-repeat;
}

th.manage-column { vertical-align: top; }

/* bonus questions */
.football-pool_page_footballpool-bonus th.manage-column.column-question { width: 340px; }
.football-pool_page_footballpool-bonus th.manage-column.column-answer { width: 180px; }
.football-pool_page_footballpool-bonus th.manage-column.column-points { width: 50px; }

/* matches */
/* .matchinfo { width: 500px; } */
input.score { width: 3em; }

table.help th { text-align: left; text-decoration: underline; }
table.help th, table.help td { padding-right: 1em; }
table.help tr:nth-of-type(1) { background-color: #e0e0e0; }
table.help tr:nth-of-type(even) { background-color: #fcfcfc; }

table.user-list tr:hover, 
table.user-answers tr:hover { 
	background-color: #F1F1F1; 
}

label.radio { font-weight: normal; }
label.radio {
	display: block;
	padding-left: 22px;
	text-indent: -22px;
	margin-bottom: 5px;
}

img.screenshot { 
	box-shadow: 5px 5px 5px #888;
	margin: 10px 0 0 20px;
	border: 1px solid #dfdfdf;
}

input.date-y { width: 4em; }
input.date-m { width: 2.5em; }
input.date-d { width: 2.5em; }
input.date-h { width: 2.5em; }
input.date-i { width: 2.5em; }

.placeholder, .hint { font-style: italic; color: #ccc; }

.email-addresses textarea { width: 500px; height: 100px; }
.email-addresses.players textarea { border: 1px solid green; }
.email-addresses.not-players textarea { border: 1px solid red; }
.email-addresses { margin-bottom: 20px; }
.email-addresses label { margin-right: 20px; }

table.form-table td:nth-child(2) { width: 310px; }

div.donate { text-align: right; }
div.donate form { margin-left: 2em; }

table.fp-radio-list { border-collapse: collapse; }
.fp-radio-list label { display: block; padding-right: 5em; }
.fp-radio-list td { padding: 5px 4px; vertical-align: top; }
.fp-radio-list tr.csv-file:hover { background-color: #2ea2cc; color: #fff; }
.fp-radio-list input[type=radio] { margin-right: 1.5em; }
.fp-radio-list td.file {  }
.fp-radio-list th { text-align: left; font-weight: normal; font-style: italic; }

div.import.culture-select { text-align: right; }

td.date-title { text-align: right; }

div.fp-admin .button { margin-right: 3px; }

.fp-multi-select { width: 300px; }

div.help.important {
	margin: 5px 15px;
	background-color: #ffffe0;
	border-color: #e6db55;
	padding: 0 .6em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

div.help-page h2 { padding: 3em 0 .5em; }
div.help-page h2:first-of-type { padding-top: 1em; }
div.help-page h3 { padding: 2em 0 .5em; }
div.help-page h2 + h3 { padding-top: 0; }

div.ranking-definition div input[type="checkbox"] {
	margin-right: 5px;
}
div.ranking-definition label {
	font-weight: normal;
	font-size: 1em;
}
div.ranking-definition div.matchtype label {
	font-weight: bold;
	font-size: 1.2em;
}
div.ranking-definition div {
	padding: 0 3px;
}
div.ranking-definition div.matchtype {
	margin: 5px 0 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: rgb( 223, 223, 223 );
}

table.fp-options  td, table.fp-options  th { vertical-align: top; }
table.fp-options  tr { border-top: 1px solid rgb( 223, 223, 223 ); }
table.fp-options  tr.no-border { border: none; }
table.fp-options  tr:last-child { border-bottom: 1px solid rgb( 223, 223, 223 ); }

.contextual-help-tabs-wrap p em { 
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif; 
}
div.ranking-log-rest { display: none; }
.cboxContent div.ranking-log-rest { display: block; }

div.ranking-log span { padding-right: 10px; }

.football-pool_page_footballpool-rankings th.manage-column.column-name { width: 30%; }
.football-pool_page_footballpool-rankings th.manage-column.column-log { width: 50%; }
.football-pool_page_footballpool-rankings th.manage-column.column-calculate { width: 20%; }

/* score calculation */
#ajax-loader { display: none; float: right; background-image: url(images/ajax-loader-blue.gif); width: 16px; height: 16px; }
#progress { display: none; }
#progress .animation { text-align: center; }
#progress .error { color: red; }

.progress .ui-progressbar {
	height: 15px;
}
.progress #progressbar {
	margin-top: 15px;
}

#step-0-form input[type="radio"] { margin-right: 5px; }
#step-0-form .calculation-type-select { margin: 1em 0 0; }
#step-0-form .calculation-type-select label { 
	display: block; 
	margin-bottom: 4px; 
	font-weight: bold; 
	cursor: pointer;
	padding-left: 30px;
	text-indent: -30px;
}
#step-0-form .calculation-type-select label span { font-style: italic; font-weight: normal; }
#step-0-form .submit { }

.tablenav.no-pages { display: none; }

code.block { display: block; margin: 0 0 15px; }
code.inline { display: inline; }