.widget div.football-pool-widget form { margin: 0; padding: 0; }
.widget div.football-pool-widget label, .widget div.football-pool-widget p { font-size: 80%; }
.widget div.football-pool-widget h3 { 
	width: auto; 
	margin: 0 0 .25em; 
	padding: 0 .5em; 
	color: #fff; 
	background-color: #ccc; 
	font-weight: bold; 
	font-size: .8em; 
	line-height: 1.8em; 
	vertical-align: middle; 
}
.widget div.football-pool-widget h3 a, 
.widget div.football-pool-widget h3 a:link, 
.widget div.football-pool-widget h3 a:visited, 
.widget div.football-pool-widget h3 a:hover, 
.widget div.football-pool-widget h3 a:active { color: #fff; }
.widget div.football-pool-widget div { padding: 0 0 .25em; }
.widget div.football-pool-widget p, .widget div.football-pool-widget div div { padding: 0 .5em!important; }
.widget div.football-pool-widget input.text, .widget input.textarea { width: 80%; }
.widget div.football-pool-widget { padding: 0; margin: 0; }

#sidebar ul .widget_footballpoolnextpredictionwidget p a { display: inline; }

/*
img.flag { width: 18px; height: 18px; border: 0; }
img.fp-joker { width: 13px;  height: 13px; }
*/
td.flag img { border: 1px solid #ccc; }

tr.odd { }

td.numeric { text-align: right; }

.matchtype { color: #fff; background-color: #000; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; text-align: center; }
.matchdate { color: #fff; background-color: #ccc; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }

table.matchinfo { border: none; width: 580px; }
table.matchinfo.input { width: 580px; }

table.matchinfo td { padding: 0 .2em 0 0; border: none; font-size: .9em; }
table.matchinfo td.flag { text-align: center; }
table.matchinfo td.time { text-align: left; font-size: .7em; vertical-align: bottom; padding-left: 1em; }
table.matchinfo td.home { text-align: right; padding-right: .5em; }
table.matchinfo td.away { text-align: left; padding-left: .5em; }
table.matchinfo td.score { text-align: center; font-weight: bold; padding: 0 .5em; }
table.matchinfo td.fp-joker { background-image: url(images/site/ball_over.jpg); background-repeat: no-repeat; cursor: pointer; width: 30px; height: 20px; }
table.matchinfo td.fp-nojoker { background-image: url(images/site/ball.jpg); background-repeat: no-repeat; cursor: pointer; width: 30px; height: 20px; }
table.matchinfo td.fp-joker.readonly, table.matchinfo td.fp-nojoker.readonly { cursor: default; }
table.matchinfo th { color: #fff; background-color: #000; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }
table.matchinfo th.username { width: 200px; }
table.statistics  { width: 400px; }
table.statistics th { color: #fff; background-color: #000; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }
table.statistics td { border-bottom: 1px solid #ccc; }
table.statistics td.score { text-align: center; }

table.prediction-table-questions a, table.matchinfo a { text-decoration: none; }
table.prediction-table-questions a:hover, table.matchinfo a:hover { text-decoration: underline; }

.nopointer { cursor: default!important; }

input.prediction { width: 3em; text-align: right; }
div.buttonblock { margin: 1em 0 3em; }

img.team-photo.thumb { width: 150px; height: 79px; border: 0; cursor: pointer; }
img.stadium-photo.thumb.stadium-list,
img.team-photo.thumb.team-list { 
	float: left; 
	margin: 0 5px 10px 0; 
}
img.team-photo { width: 301px; height: 159px; border: 0; cursor: pointer; }
img.stadium-photo { border: 0; }
img.stadium-photo.thumb { width: 150px; border: 0; }
ol.team-list, ol.stadium-list { list-style-type: none; margin: 0; padding: 0; }
ol.team-list li, ol.stadium-list li { clear: both; margin-bottom: 5px; }

/* group ranking */
div.ranking { border: 1px solid #000; padding: .25em; margin: 0 2em 2em 0; width: auto; width: 300px; float: left; }
div.ranking h2 { margin: .2em 0; padding: 0; }
table.ranking { border: none; border-collapse: collapse; width: 100%; }
table.ranking th { text-align: center; font-weight: normal; font-style: italic; border-bottom: 1px solid #000; }
table.ranking td { padding: .1em .5em; }

th.wins, td.wins, th.draws, td.draws, th.losses, td.losses { background-color: #ddd; }
th.plays, td.plays, th.points, td.points { background-color: #ccc; }
th.team, td.team, th.goals, td.goals { background-color: #e1dfdf; }
td.goals, th.goals { font-size: .6em!important; padding: .1em .2em; }
th.team, th.points, td.points, th.plays, td.plays { font-weight: bolder; }
td.team, th.team { width: 45%; }

table.ranking td { font-size: 80%; }
table.ranking td.plays, table.ranking td.points { font-size: 90%; }

/* group ranking in a widget */
li.widget div.football-pool-widget div.ranking { float: none; border: none; width: auto; padding-left: .5em; }
li.widget div.football-pool-widget div.ranking h2 { display: none; }
li.widget div.football-pool-widget div.ranking th { font-size: 80%; }

/* group ranking as shortcode */
div.entry div.ranking.shortcode { float: none; }

table.pool-ranking.ranking-page { width: 500px; }
table.pool-ranking { border-collapse: collapse; font-size: 75%; }
table.pool-ranking td { padding-left: .5em; }
table.pool-ranking tr.currentuser { background-color: #e1dfdf; } 
#rankingsbox table.pool-ranking tr.currentuser { background-color: #transparent; } 
table.pool-ranking tr.currentuser td, 
table.pool-ranking tr.currentuser td a, 
table.pool-ranking tr.currentuser td a:visited { color: #000; font-weight: bolder; }

table.pool-ranking td.score  { text-align:right; padding-right: 1em; }

.entry table.pool-ranking { font-size: 100%; width: 300px; }

table.gamesbox td { padding: 1px 2px; font-size: 75%; }
table.gamesbox td.score { white-space: nowrap; }

table.teaminfo { margin-top: 10px; }
table.teaminfo, table.teaminfo td, table.teaminfo tr { border: none; }
table.teaminfo tr th { vertical-align: top; text-align: left; padding: 0 2em 1em 0; }
table.teaminfo tr td { padding: 0 0 1em 0; }

.errormessage { color: #f00; margin: .5em 0; padding: 0; }
.error { color: #f00; border: 1px solid #000; padding: .5em; }

/* div.chart { border: 1px solid #000; } */
div.chart { margin-bottom: 2em; }
div.chart.right { float: right; padding-left: 10px; }
div.chart.left { float: left; padding-right: 20px; }
div.chart.stats-pie { float: left; margin-right: 20px; }

div.statistics { float: right; }
a.statistics { background-image: url(images/site/stats.png); display: block; width: 62px; height: 62px; text-indent: -2000px; }
a.statistics:hover { background-position: 0 62px; }

label { cursor: pointer; }

span.username { color: #000; font-weight: bolder; }

div.bonus { border-bottom: 1px solid #000; }
div.bonus, p.bonus, input.bonus { width: 550px; }
div.bonus.userview { margin-top: 1em; padding-bottom: .5em; }
div.bonus.userview p { margin: 0; padding: 0; }
div.bonus.userview span { color: #000; }
div.bonus.userview p.question { font-weight: bolder; }
p.bonus { background-color: #eee; padding: 2px; font-weight: bolder; }
p.bonus.image { background: none; }
span.bonus { color: #aaa; font-size: 75%;  }
span.bonus.points { float: right; }
span.bonus.reminder { color: #ccc; font-weight: bolder; }
span.extra { font-size: 80%; color: #666; }

div.bonus ul.multi-select { list-style: none; margin: 0; padding: 0; }
div.bonus p, div.bonus li { clear: both; }

div.bonus ul.multi-select label { 
	display: block; margin-bottom: 10px;
}

div.bonus ul.multi-select input[type=radio], 
div.bonus ul.multi-select input[type=checkbox] {
	float: left; display: block;
	height: 13px; width: 15px;
}

div.bonus ul.multi-select span { 
	margin-left: 20px;
	padding-left: 10px;
	display: block;
	width: 530px; /* standard column width = 550px */
}

/* handle the multi-select option with user input */
div.bonus ul.multi-select label + span { width: 530px; float: left; }
div.bonus ul.multi-select label + span input[type=text] { width: 100%; }
div.bonus ul.multi-select label.user-input span { width: 530px; }

/* example 4 column layout
#q1 ul.multi-select li { float: left; width: 25%; }
*/

.widget_footballpoollastgameswidget div.football-pool-widget p,
.widget_footballpool-rankingwidget div.football-pool-widget p { padding: 2px 3px; margin: 0; font-size: 75%; }

div.football-pool-widget ol.userselector { 
	margin: 0; padding: 0; 
	display: block; 
	overflow: auto; 
	width: 100%; 
	border: none; 
	list-style: none; 
}
div.football-pool-widget ol.userselector li.selected { background-color: #e1dfdf; }
.widget.widget_footballpooluserselectorwidget div.football-pool-widget p { 
	text-align: right; 
	padding: 0 3px 0 0; 
}

div.football-pool-widget .widget.button { 
	border: 1px solid #e1dfdf; 
	padding: 2px 10px; 
	margin: 0 5px; 
	float: right; 
	text-decoration: none; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	background-color: #ccc;
}
div.football-pool-widget .widget.button:hover {
	background-color: #e1dfdf;
	color: #ccc;
}

#respond { margin-top: 50px; padding: 0 0 0 3px; }

.widget_footballpoolshoutboxwidget div.wrapper { width: 190px; height: 240px; overflow: auto; overflow-x: hidden; overflow-y: scroll; margin: 0 0 1em 0; }
.widget_footballpoolshoutboxwidget textarea { width: 90%; }
.widget_footballpoolshoutboxwidget a.name { font-weight: bolder; }
.widget_footballpoolshoutboxwidget span.date { font-size: 70%; float: right; }
.widget_footballpoolshoutboxwidget span.notice { font-size: 75%; }
.widget_footballpoolshoutboxwidget p { font-size: 80%; margin: 0; }
.widget_footballpoolshoutboxwidget hr {
	margin: 3px 3px 5px;
	border: none 0; 
	border-top: 1px dashed #ccc; /*the border*/ 
	height: 1px; /*whatever the total width of the border-top and border-bottom equal*/
}

.widget_footballpoolnextpredictionwidget  div.football-pool-widget a.next-prediction-countdown {
	font-weight: bold;
}
.widget_footballpoolnextpredictionwidget div.football-pool-widget p {
	margin-bottom: 5px;
}
ul li.widget_footballpoolnextpredictionwidget div.football-pool-widget a {
	display: inline;
}

.user-label { font-size: 70%; font-style: italic; }

.widget div.football-pool-widget div.ranking { padding: 0 .5em; margin: 0; } 

/* avatars */
.pool-ranking .avatar { 
	padding: 0 .5em 0 0; vertical-align: middle; 
}
#sidebar .widget div.football-pool-widget .pool-ranking .avatar,
.widget div.football-pool-widget .pool-ranking .avatar {
	padding: 0 .5em 0 0; vertical-align: middle; 
}

.prediction-table-questions td { min-width: 16px; min-height: 16px; }
.prediction-table-questions td.correct, .prediction-table-questions td.wrong {
	background-repeat: no-repeat;
	background-position: center center;
}
.prediction-table-questions td.correct { background-image: url('images/site/correct.png'); }
.prediction-table-questions td.wrong { background-image: url('images/site/wrong.png'); }
.prediction-table-questions.statistics { width: 390px; }

p.bonus .no-answer:after { 
	content: '...';
	font-weight: normal;
}

td.num-predictions, td.ranking.score { text-align: right; }
