a img { border: none; }

.widget form { margin: 0; padding: 0; }
.widget label, .widget p { font-size: 80%; }
.widget h3 { width: auto; margin: 0 0 .25em; padding: 0 .5em; color: #fff; background-color: #990288; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }
#sidebar .widget h3 a, 
#sidebar .widget h3 a:link, 
#sidebar .widget h3 a:visited, 
#sidebar .widget h3 a:hover, 
#sidebar .widget h3 a:active { color: #fff; }
.widget div { padding: 0 0 .25em; }
#sidebar .widget p, .widget div div { padding: 0 .5em; }
.widget input.text, .widget input.textarea { width: 80%; }

img.flag { width: 18px; height: 18px; border: 0; }
img.joker { width: 13px;  height: 13px; }

tr.odd { }

td.numeric { text-align: right; }

td.matchtype { color: #fff; background-color: #330039; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; text-align: center; }
td.matchdate { color: #fff; background-color: #990288; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }

table.matchinfo { border: none; width: 580px; }
table.matchinfo.input { width: 580px; }

table.matchinfo td { padding: 0 .2em 0 0; border: none; font-size: .9em; }
table.matchinfo td.flag { text-align: center; }
table.matchinfo td.time { text-align: left; font-size: .7em; vertical-align: bottom; padding-left: 1em; }
table.matchinfo td.home { text-align: right; padding-right: .5em; }
table.matchinfo td.away { text-align: left; padding-left: .5em; }
table.matchinfo td.score { text-align: center; font-weight: bold; padding: 0 .5em; }
table.matchinfo td.joker { background-image: url(images/site/ball_over.jpg); background-repeat: no-repeat; cursor: pointer; width: 30px; height: 20px; }
table.matchinfo td.nojoker { background-image: url(images/site/ball.jpg); background-repeat: no-repeat; cursor: pointer; width: 30px; height: 20px; }
table.matchinfo td.joker.readonly, table.matchinfo td.nojoker.readonly { cursor: default; }
table.matchinfo th { color: #fff; background-color: #330039; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }
table.matchinfo th.username { width: 200px; }
table.statistics  { width: 400px; }
table.statistics th { color: #fff; background-color: #330039; font-weight: bold; font-size: .8em; line-height: 1.8em; vertical-align: middle; }
table.statistics td { border-bottom: 1px solid #990288; }
table.statistics td.score { text-align: center; }

table.matchinfo a { text-decoration: none; }
table.matchinfo a:hover { text-decoration: underline; }

.nopointer { cursor: default!important; }

input.prediction { width: 3em; text-align: right; }
div.buttonblock { margin: 1em 0 3em; }

img.teamphotothumb { width: 150px; height: 79px; border: 0; cursor: pointer; }
img.teamphoto { width: 301px; height: 159px; border: 0; cursor: pointer; }
img.stadiumphoto { border: 0; }
ol.teamlist, ol.stadiumlist { list-style-type: none; margin: 0; padding: 0; }

/* group ranking */
div.ranking { border: 1px solid #000; padding: .25em; margin: 0 2em 2em 0; width: auto; width: 300px; float: left; }
div.ranking h2 { margin: .2em 0; padding: 0; }
table.ranking { border: none; border-collapse: collapse; width: 100%; }
table.ranking th { text-align: center; font-weight: normal; font-style: italic; border-bottom: 1px solid #000; }
table.ranking td { padding: .1em .5em; }

th.wins, td.wins, th.draws, td.draws, th.losses, td.losses { background-color: #ddd; }
th.plays, td.plays, th.points, td.points { background-color: #990288; }
th.team, td.team, th.goals, td.goals { background-color: #e1dfdf; }
td.goals, th.goals { font-size: .6em!important; padding: .1em .2em; }
th.team, th.points, td.points, th.plays, td.plays { font-weight: bolder; }
td.team, th.team { width: 45%; }

table.ranking td { font-size: 80%; }
table.ranking td.plays, table.ranking td.points { font-size: 90%; }

/* group ranking in a widget */
li.widget div.ranking { float: none; border: none; width: auto; }
li.widget div.ranking h2 { display: none; }
li.widget div.ranking th { font-size: 80%; }

/* group ranking as shortcode */
div.entry div.ranking.shortcode { float: none; }

table.pool-ranking.ranking-page { width: 500px; }
table.pool-ranking { border-collapse: collapse; font-size: 75%; }
table.pool-ranking td { padding-left: .5em; }
table.pool-ranking tr.currentuser { background-color: #e1dfdf; } 
#rankingsbox table.pool-ranking tr.currentuser { background-color: #transparent; } 
table.pool-ranking tr.currentuser td, 
table.pool-ranking tr.currentuser td a, 
table.pool-ranking tr.currentuser td a:visited { color: #330039; font-weight: bolder; }

table.pool-ranking td.score  { text-align:right; padding-right: 1em; }

.entry table.pool-ranking { font-size: 100%; width: 300px; }

table.gamesbox td { padding: 1px 2px; font-size: 75%; }
table.gamesbox td.score { white-space: nowrap; }

.widget .recentcomments { font-size: 75%; }
.widget li { font-size: 75%; }

table.teaminfo { margin-top: 10px; }
table.teaminfo, table.teaminfo td, table.teaminfo tr { border: none; }
table.teaminfo tr th { vertical-align: top; text-align: left; padding: 0 2em 1em 0; }
table.teaminfo tr td { padding: 0 0 1em 0; }

.errormessage { color: #f00; margin: .5em 0; padding: 0; }
.error { color: #f00; border: 1px solid #000; padding: .5em; }

/* div.chart { border: 1px solid #000; } */
div.chart { margin-bottom: 2em; }
div.chart.right { float: right; padding-left: 10px; }
div.chart.left { float: left; padding-right: 20px; }
div.chart.stats-pie { float: left; margin-right: 20px; }

div.statistics { float: right; }
a.statistics { background-image: url(images/site/stats.png); display: block; width: 62px; height: 62px; text-indent: -2000px; }
a.statistics:hover { background-position: 0 62px; }

label { cursor: pointer; }

span.username { color: #330039; font-weight: bolder; }

div.bonus { border-bottom: 1px solid #330039; }
div.bonus, p.bonus, input.bonus { width: 550px; }
div.bonus.userview { margin-top: 1em; padding-bottom: .5em; }
div.bonus.userview p { margin: 0; padding: 0; }
div.bonus.userview span { color: #000; }
div.bonus.userview p.question { font-weight: bolder; }
p.bonus { background-color: #eee; padding: 2px; font-weight: bolder; }
p.bonus.image { background: none; }
span.bonus { color: #aaa; font-size: 75%;  }
span.bonus.points { float: right; }
span.bonus.reminder { color: #990288; font-weight: bolder; }
span.extra { font-size: 80%; color: #666; }

div.bonus ul.multi-select { list-style: none; margin: 0; padding: 0; }
div.bonus p, div.bonus li { clear: both; }

div.bonus ul.multi-select label { 
	display: block; margin-bottom: 10px;
}

div.bonus ul.multi-select input[type=radio], 
div.bonus ul.multi-select input[type=checkbox] {
	float: left; display: block;
	height: 13px; width: 15px;
}

div.bonus ul.multi-select span { 
	margin-left: 20px;
	padding-left: 10px;
	display: block;
	width: 530px; /* standard column width = 550px */
}

/* handle the multi-select option with user input */
div.bonus ul.multi-select label + span { width: 530px; float: left; }
div.bonus ul.multi-select label + span input[type=text] { width: 100%; }
div.bonus ul.multi-select label.user-input span { width: 530px; }

/* example 4 column layout
#q1 ul.multi-select li { float: left; width: 25%; }
*/

#sidebar .widget_footballpoollastgameswidget p,
#sidebar .widget_footballpool-rankingwidget p { padding: 2px 3px; margin: 0; font-size: 75%; }

#sidebar ol.userselector { margin: 0; padding: 0; display: block; overflow: auto; width: 100%; border: none; list-style: none; }
#sidebar ol.userselector li.selected { background-color: #e1dfdf; }
#sidebar .widget.widget_footballpooluserselectorwidget p { text-align: right; padding: 0 3px 0 0; }

.widget.button { 
	border: 1px solid #e1dfdf; 
	padding: 2px 10px; 
	margin: 0 5px; 
	float: right; 
	text-decoration: none; 
	-moz-border-radius: 5px;
	border-radius: 5px; 
	background-color: #990288;
}
#headerright .widget.button:hover {
	background-color: #e1dfdf;
	color: #990288;
}

#respond { margin-top: 50px; padding: 0 0 0 3px; }

.widget_footballpoolshoutboxwidget div.wrapper { width: 190px; height: 240px; overflow: auto; overflow-x: hidden; overflow-y: scroll; margin: 0 0 1em 0; }
.widget_footballpoolshoutboxwidget textarea { width: 90%; }
.widget_footballpoolshoutboxwidget a.name { font-weight: bolder; }
.widget_footballpoolshoutboxwidget span.date { font-size: 70%; float: right; }
.widget_footballpoolshoutboxwidget span.notice { font-size: 75%; }
.widget_footballpoolshoutboxwidget p { font-size: 80%; margin: 0; }
.widget_footballpoolshoutboxwidget hr {
	margin: 3px 3px 5px;
	border: none 0; 
	border-top: 1px dashed #990288; /*the border*/ 
	height: 1px; /*whatever the total width of the border-top and border-bottom equal*/
}

#sidebar .widget_footballpoolnextpredictionwidget  a.next-prediction-countdown {
	font-weight: bold;
}
#sidebar .widget_footballpoolnextpredictionwidget  p {
	margin-bottom: 5px;
}
#sidebar ul li.widget_footballpoolnextpredictionwidget a {
	display: inline;
}

.user-label { font-size: 70%; font-style: italic; }